.basket {
  border: solid black;
}
.basket-list {
  border: solid black;
  padding: 10px;
}
.basket-item {
  border: solid black;
  padding: 10px;
  margin: 10px 0px;
}
.basket-item img {
  border: solid black;
  width: 200px;
}
