.basket {
  border: solid 1px black;
  padding: 5px;
}
.basket-list {
  border: solid 1px black;
  padding: 10px;
}
.basket-item {
  border: solid 1px black;
  padding: 10px;
  margin: 10px 0px;
}
.basket-item img {
  width: 200px;
}
button {
  float: right;
}
